<!-- <div class="wrapper margintop center">
  <div class="question">
    <%= simple_form_for [@question,@answer], url: questioncheck_path do |f| %>
      <%= f.input :employee, as: :radio_buttons, collection: @possible_answers, label: @question.label%>
      <%= f.submit "Save", class: "btn btn-primary", label: "Valider"  %>
    <% end %>
  </div>
</div>

 -->


<div class="wrapper margintop center">
  <div class="form-post">

    <%= simple_form_for [@question,@answer], url: questioncheck_path do |f| %>
      <div class="form-group">

        <label class="control-label radio_buttons"><%= @question.label %></label>
        <input type="hidden" name="answer[employee]" value="">
        <div class="category-choices">
          <% @possible_answers.each_with_index do |answer, index| %>

            <% if index == 0 %>
              <input type="radio" class= "hidden" value="<%= answer %>" name="answer[employee]" id="answer_employee_<%= answer %>" checked>
            <% else %>
              <input type="radio" class= "hidden" value="<%= answer %>" name="answer[employee]" id="answer_employee_<%= answer %>" >
            <% end %>

            <label for="answer_employee_<%= answer %>">
              <%= answer %>
            </label>

          <% end %>
         </div>
      </div>
      <%= f.submit "Save", class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>







