

<div class="flexbox">

    <% @employees.each do |employee| %>


        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path employee.photo, height: 300, width: 400, crop: :fill, gravity: :face %>');">
          <div class="card-category"><%= employee.surname %></div>
          <div class="card-description">
            <h2><%= employee.name %></h2>
            <p> <%= employee.position %></p>

          </div>
        </div>

   <% end %>

</div>

<div class="wrapper spacearound">
  <%= link_to "Create a new employee", new_employee_path, class: "btn-treehouse" %>
  <%= link_to "Take a quizz", questions_path, class: "btn-treehouse" %>
</div>
